@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.modal_window {
	width: 400px;
	height: 250px;
	background-color: rgba(246, 120, 248, 0.849);
	border-radius: 15px;
	position: fixed;
	top: 25%;
	left: 35%;
	z-index: 20;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	opacity: 0;
	transition: 1s;
	animation: show 0.7s 1;
	animation-fill-mode: forwards;
}
@keyframes show {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.modal_text {
	font-size: 23px;
	margin-bottom: 27px;
	color: ivory;
	font-family: 'Montserrat', sans-serif;
}
.close_btn {
	border: none;
	border-radius: 20px;
	width: 100px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
